.list-group-item .form-inline{
    margin-left: 10px;
    display: none;
    width: 80%;
}

.list-group-item {
    height: 56px;
    padding-top: 10px;
}

/*.list-group-item span{
    margin-left: 10px;
}*/
.ToDoItem{
    vertical-align: middle;
}

.todoLabel{
    padding: 11px 16px;
}

.deleteBtn {
    float: right;
    right: 0px;
}

.completed {
    text-decoration: line-through;
}

.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}