<div  style="margin: auto; width:800px">
    <div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="#todo of todos">
                <div class="ToDoItem">
                    <input type="checkbox" value="">
                    <span class="todoLabel" #todoLabel (dblclick) = "editMode(editForm,todoLabel,todoInput)">{{todo.name}}</span> 
                    <form class="form-inline" #editForm role="form">
                    <!--<div class="input-group" #editForm>-->
                        <input type="text" #todoInput class="form-control" required="required" value={{todo.name}} (keyup)=finishEdit(todo,$event,editForm,todoLabel,todoInput)> 
                        <!--<span class="input-group-btn">-->
                            <button type="button" class="btn btn-primary" (click)=saveChanges(todo,todoInput,todoLabel,editForm)>Update</button>
                            <button type="button" class="btn btn-danger" (click)=cancelUpdate(todo,todoInput,todoLabel,editForm)>Cancel</button>
                        <!--</span>-->
                    <!--</div>-->
                    </form> 
                    <div class="deleteBtn">
                        <button type="button" class="btn btn-danger" (click)=deleteToDo(todo)>X</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div>
        <form class="form-inline" role="form">
            <div class="form-group">
                <input type="text" #newTodo class="form-control" placeholder="Input field" >
            </div>
            <button type="submit" class="btn btn-primary" (click)=addTodo(newTodo)>Add</button>
        </form>
    </div>
</div>